@import '../assets/variables';

header {
  height: $headerHeight;
  padding: 0 20px;

  a {
    color: $white;
    text-decoration: none;
  }
}

.logo {
  font-size: 24px;
  text-decoration: none;
}

.btn-logout {
  margin-left: 10px;
}

nav a {
  margin-left: 10px;

  &.active {
    color: $contrast-primary;
    pointer-events: none;
    cursor: default;
  }
}
