@import '../assets/variables';

header {
  height: $headerHeight;
  padding: 0 20px;

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

main {
  min-height: calc(100vh - #{$headerHeight});
  padding: 0 20px;

  .column {
    flex: 0 0 50%;
    align-self: stretch;
    padding: 20px 0;

    &:last-child {
      border-right: 0;
    }

    .search-btn {
      margin-top: 10px;
      border-color: $contrast-secondary;
      color: $contrast-secondary;
    }
  }

  .wiki-search {
    padding-right: 20px;
  }

  .age-search {
    padding-left: 20px;
  }
}

.btn-logout {
  margin-left: 10px;
}

nav a {
  margin-left: 10px;

  &.active {
    color: $contrast-primary;
    pointer-events: none;
    cursor: default;
  }
}

.age-numbers-container {
  margin-top: 20px;
}

.age-value {
  font-weight: bold;
  color: $contrast-primary;
}

.search-items-result {
  margin-top: 20px;
}
