<div class="page-container">
  <div class="content" *ngIf="!loading">
    <header class="flex-container">
      <h2 class="logo">
        {{title}}
      </h2>
      <nav class="flex-container">
        <span *ngIf="isLoggedIn()">Hello, {{nickname}}</span>
        <button class="btn btn-logout" (click)="logOut()" *ngIf="isLoggedIn()">Log Out</button>

        <a routerLink="/log-in" routerLinkActive="active" *ngIf="!isLoggedIn()">Log In</a>
        <a routerLink="/sign-up" routerLinkActive="active" *ngIf="!isLoggedIn()">Sign Up</a>
      </nav>
    </header>
  </div>

  <span class="content" *ngIf="loading">Loading...</span>

  <router-outlet></router-outlet>
</div>
