<div class="page-container">
  <div class="content" *ngIf="!loading">
    <header class="flex-container">
      <a routerLink="/" class="logo">
        {{title}}
      </a>
      <nav class="flex-container">
        <span *ngIf="isLoggedIn()">Привет, {{nickname}}!</span>
        <button class="btn btn-logout" (click)="logOut()" *ngIf="isLoggedIn()">Выход</button>

        <a class="btn" routerLink="/log-in" routerLinkActive="active" *ngIf="!isLoggedIn()">Вход</a>
        <a class="btn" routerLink="/sign-up" routerLinkActive="active" *ngIf="!isLoggedIn()">Регистрация</a>
      </nav>
    </header>
  </div>

  <span class="content" *ngIf="loading">Loading...</span>

  <router-outlet></router-outlet>
</div>
