<div class="admin-form">
  <form id="add-event-form" (ngSubmit)="onSubmit()">
    <input type="date" id="event-start-date" name="event-start-date" [(ngModel)]="eventStartDate" required>
    <input type="date" id="event-end-date" name="event-end-date" [(ngModel)]="eventEndDate" required>
    <input type="text" id="event-title" name="event-title" [(ngModel)]="eventTitle" placeholder="Кто?" required>
    <textarea id="event-description" name="event-description" rows="8"
              [(ngModel)]="eventDescription" placeholder="Сделал что?" required></textarea>
    <button type="submit" class="btn">Сохранить событие</button>
  </form>

  <div class="flash" [ngClass]="{'shown': isFlashShown }">Событие сохранено!</div>
</div>
