// Colors
$grayce: #cecece;
$grayef: #efefef;
$gray2: #f8f8f8;
$gray3: #3f3f3f;
$gray4: #4a4a4a;
$red: #e2513f;
$green: #50E3C2;

$background-main: #212121;
$black: #121212;
$white: #e0e0e0;
$grey-light: #e1e1e1;
$grey-medium: #BABABA;
$contrast-primary: #A376E2;
$contrast-secondary: #03D4C7;

$contrast-primary-hover: transparentize($contrast-primary, 0.8);

$headerHeight: 50px;
