@import '../../assets/variables';

main {
  min-height: calc(100vh - #{$headerHeight});

  .column {
    flex: 0 0 50%;
    align-self: stretch;
    padding: 20px;

    .search-btn {
      margin-top: 10px;
      border-color: $contrast-secondary;
      color: $contrast-secondary;
    }
  }
}

.age-numbers-container {
  margin: 20px 0;
}

.age-value {
  font-weight: bold;
  color: $contrast-primary;
}
