<main class="flex-container">
  <div class="column age-search">
    <input type="date" id="birth-date" name="birth-date"
           min="1900-01-01"
           [(ngModel)]="ageQuery"
           (keyup.enter)="searchAge()">
    <button class="btn search-btn" (click)="searchAge()">Искать</button>

    <div class="age-results" *ngIf="!loading">
      <div class="age-numbers-container" *ngIf="days && hours && minutes && seconds">
        <p>Сегодня вам:</p>
        <p><span class="age-value">{{days}}</span> дней,</p>
        <p><span class="age-value">{{hours}}</span> часов,</p>
        <p><span class="age-value">{{minutes}}</span> минут,</p>
        <p><span class="age-value" id="seconds-counter">{{seconds}}</span> секунд</p>
      </div>

      <div *ngIf="ageDescription">{{ageDescription}}</div>
      <div *ngIf="currentEventDescription">В этом возрасте {{currentEventTitle}} {{currentEventDescription}}</div>
    </div>

    <div class="loader" *ngIf="loading"></div>
  </div>

  <div class="column additional-info">
    <div class="search-items-result" *ngIf="!loading && wikiText">
      <img *ngIf="wikiImage" [src]="wikiImage" width="300">
      <div>{{wikiText}}</div>
    </div>
  </div>
</main>
