<main class="flex-container">
  <div class="column age-search">
    <input type="date" id="birth-date" name="birth-date"
           min="1900-01-01"
           [(ngModel)]="ageQuery"
           (keyup.enter)="searchAge()">
    <button class="btn search-btn" (click)="searchAge()">Искать</button>

    <div class="age-results" *ngIf="!loading">
      <div class="age-numbers-container" *ngIf="days && hours && minutes && seconds">
        <h3>Сегодня вам:</h3>
        <p><ng2-odometer [number]="days" [config]="{theme: 'train-station'}"></ng2-odometer> дней,</p>
        <p><ng2-odometer [number]="hours" [config]="{theme: 'train-station'}"></ng2-odometer> часов,</p>
        <p><ng2-odometer [number]="minutes" [config]="{theme: 'train-station'}"></ng2-odometer> минут,</p>
        <p><span id="seconds-counter"><ng2-odometer [number]="seconds" [config]="{theme: 'train-station', animation: 'slide', auto: 'false'}"></ng2-odometer></span> секунд</p>
      </div>

      <div *ngIf="ageDescription">{{ageDescription}}</div>
      <div *ngIf="currentEventTitle">Сегодня вы {{currentEventTitle}}!</div>
      <div *ngIf="currentEventDescription">В этом возрасте {{currentEventTitle}} {{currentEventDescription}}</div>
    </div>

    <div class="loader" *ngIf="loading"></div>
  </div>

  <div class="column additional-info">
    <div class="search-items-result" *ngIf="!loading && wikiText">
      <img *ngIf="wikiImage" [src]="wikiImage" width="300">
      <div>{{wikiText}}</div>
    </div>
  </div>
</main>
