@import '../../assets/variables';

main {
  min-height: calc(100vh - #{$headerHeight});

  .column {
    flex: 0 0 50%;
    align-self: stretch;
    padding: 20px 0;

    &:last-child {
      border-right: 0;
    }

    .search-btn {
      margin-top: 10px;
      border-color: $contrast-secondary;
      color: $contrast-secondary;
    }
  }

  .wiki-search {
    padding-right: 20px;
  }

  .age-search {
    padding-left: 20px;
  }
}

.age-numbers-container {
  margin-top: 20px;
}

.age-value {
  font-weight: bold;
  color: $contrast-primary;
}
